@font-face {
  font-family: roboto;
  src: url(Roboto.ttf.ttf);
}

body {
  font-family: roboto;
  background: rgb(255, 255, 255);
  margin: 0;
}

nav {
  background: linear-gradient( rgb(255, 255, 255), rgb(255, 255, 255)); 
  background-size: cover;
  opacity: 0.8;
  height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
}

nav img{
    width: 40%;
    margin-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;   
}

a{
    color: white;  
    text-decoration: none;
}


nav ul li {
    color:rgb(255, 255, 255)
  list-style: none;
  display: inline-block;
  margin-right: 3vh;
}
nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}
/*CONTENT*/
header {
  width: 100%;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(img/bg.gif);
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 70%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kolom {
  margin: 10px;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  background: linear-gradient(45deg, rgba(104, 42, 61, 0.678), rgba(34, 101, 163, .5)); 
  background-size: cover;
}

.kolom .atas {
  width: 100%;
  height: 60%;
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(104, 42, 61, 0.678), rgba(34, 101, 163, .5)); 
  background-size: cover;
}

.kolom .atas img {
  width: 60%;
}

.kolom .tengah {
  width: 100%;
  height: 10%;
  background: linear-gradient( rgba(189, 182, 189, 0.418), rgba(180, 198, 214, 0.536)); 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.kolom .bawah {
  width: 100%;
  height: 30%;

}

.kolom .bawah ul li {
    list-style: none;
    width: 80%;
    height: auto;
    text-align: center;
}

/*FOOTER*/
footer{
    background: white;
    height: 100vh;
    width: 100%;
    position: relative;
    
}

.bgf{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(56, 104, 84, 0.4), rgba(0, 0, 0, 0.7)),
    url(IMG/bg2.gif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colons{
  margin: 10px;
  width: 80%;
  height: 70%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.7;
  
}

.colons1{
  height: 100% ;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  
}

.colons2{
  width: 50%;
  background: linear-gradient(45deg, rgb(118, 197, 164), rgba(147, 156, 207, 0.603));  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.7;
  flex-wrap: nowrap;
  margin: 0%;
  
  
}

.one{
  width: 100%;
  height: 40%;
  background: linear-gradient(45deg, rgb(118, 197, 164), rgba(147, 156, 207, 0.603));  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.colons .one img{
  width: 50%;
}

.two{
  width: 100%;
  height: 10%;
  background: linear-gradient( rgb(255, 255, 255), rgb(255, 255, 255)); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  
}

.three{
  width: 100%;
  height: 50%;
  background: linear-gradient(45deg, rgb(118, 197, 164), rgba(147, 156, 207, 0.603));  
  
  justify-content: space-evenly;
  align-items: center;
  
}

.colons1 .three h3 {
  margin: 30px;
  color: black;
  font-size: large;
  
}

.colons1 .three form{
  padding-top: -50px;
  padding-left: 25%;
  width: 50%;
  height: 10%;
}

input[type="text"]{
  border-radius: 50px;
}

input[type="nomber"]{
  border-radius: 50px;
}

input[type="email"]{
  border-radius: 50px;
}

/*COLONS2*/
.colons2 .two1{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background: linear-gradient(45deg, rgb(118, 197, 164), rgba(147, 156, 207, 0.603));  
}

